In [145]:
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
pokemon_df = pd.read_csv("./data/pokemon.csv")

In [43]:
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [85]:
pokemon_df.loc[(pokemon_df.Attack) > 50 & (pokemon_df.Defense < 80), ["Name", "Attack", "Defense"]]

                      Name  Attack  Defense
0                Bulbasaur      49       49
1                  Ivysaur      62       63
2                 Venusaur      82       83
3    VenusaurMega Venusaur     100      123
4               Charmander      52       43
..                     ...     ...      ...
795                Diancie     100      150
796    DiancieMega Diancie     160      110
797    HoopaHoopa Confined     110       60
798     HoopaHoopa Unbound     160       60
799              Volcanion     110      120

[800 rows x 3 columns]

In [93]:
pokemon_df.groupby(["Generation"])["Attack"].mean()

Generation
1    76.638554
2    72.028302
3    81.625000
4    82.867769
5    82.066667
6    75.804878
Name: Attack, dtype: float64

In [103]:
pokemon_df.loc[(pokemon_df.Legendary == True) & (pokemon_df.Generation == 1), ["Name", "Attack", "Defense", "Generation"]]

                    Name  Attack  Defense  Generation
156             Articuno      85      100           1
157               Zapdos      90       85           1
158              Moltres     100       90           1
162               Mewtwo     110       90           1
163  MewtwoMega Mewtwo X     190      100           1
164  MewtwoMega Mewtwo Y     150       70           1

In [105]:
pokemon_df.loc[(pokemon_df.Legendary == True) & (pokemon_df.Name.str.startswith("A")), ["Name", "Attack", "Defense", "Generation"]]

         Name  Attack  Defense  Generation
156  Articuno      85      100           1
539     Azelf     125       70           4
552    Arceus     120      120           4

In [121]:
pokemon_df.loc[(pokemon_df.Legendary == True)].groupby(["Generation"])["Name"].count()

Generation
1     6
2     5
3    18
4    13
5    15
6     8
Name: Name, dtype: int64

In [125]:
pokemon_df.loc[(pokemon_df.Legendary == True)].groupby(["Generation"])["Attack"].mean()

Generation
1    120.833333
2     99.000000
3    118.333333
4    109.846154
5    120.266667
6    125.250000
Name: Attack, dtype: float64

In [131]:
pokemon_df.loc[pokemon_df.groupby(["Type 1"])["Attack"].idxmax(), ["Type 1","Name", "Attack"]]

       Type 1                     Name  Attack
232       Bug  HeracrossMega Heracross     185
393      Dark          AbsolMega Absol     150
426    Dragon    RayquazaMega Rayquaza     180
517  Electric               Electivire     123
792     Fairy                  Xerneas     131
498  Fighting      LucarioMega Lucario     145
279      Fire    BlazikenMega Blaziken     160
702    Flying  TornadusIncarnate Forme     115
387     Ghost      BanetteMega Banette     165
511     Grass  AbomasnowMega Abomasnow     132
424    Ground    GroudonPrimal Groudon     180
524       Ice                Mamoswine     130
313    Normal                  Slaking     160
504    Poison                Toxicroak     106
163   Psychic      MewtwoMega Mewtwo X     190
454      Rock                Rampardos     165
750     Steel     AegislashBlade Forme     150
141     Water    GyaradosMega Gyarados     155

In [135]:
pokemon_df.loc[pokemon_df.groupby(["Type 1"])["Defense"].idxmax(), ["Type 1","Name", "Defense"]]

       Type 1                     Name  Defense
230       Bug                  Shuckle      230
327      Dark      SableyeMega Sableye      125
409    Dragon  SalamenceMega Salamence      130
513  Electric                Magnezone      115
519     Fairy                 Togekiss       95
256  Fighting                Hitmontop       95
355      Fire                  Torkoal      140
703    Flying    TornadusTherian Forme       80
624     Ghost               Cofagrigus      145
659     Grass               Ferrothorn      131
424    Ground    GroudonPrimal Groudon      160
789       Ice                  Avalugg      184
591    Normal        AudinoMega Audino      126
118    Poison                  Weezing      120
430   Psychic      DeoxysDefense Forme      160
414      Rock                 Regirock      200
224     Steel      SteelixMega Steelix      230
87      Water      SlowbroMega Slowbro      180

In [169]:
total = pokemon_df.loc[pokemon_df.groupby(["Type 1"])["Total"].idxmax(), ["Type 1","Name", "Total"]]
total

       Type 1                     Name  Total
137       Bug        PinsirMega Pinsir    600
793      Dark                  Yveltal    680
426    Dragon    RayquazaMega Rayquaza    780
196  Electric    AmpharosMega Ampharos    610
792     Fairy                  Xerneas    680
498  Fighting      LucarioMega Lucario    625
270      Fire                    Ho-oh    680
702    Flying  TornadusIncarnate Forme    580
544     Ghost    GiratinaAltered Forme    680
275     Grass    SceptileMega Sceptile    630
424    Ground    GroudonPrimal Groudon    770
156       Ice                 Articuno    580
552    Normal                   Arceus    720
183    Poison                   Crobat    535
163   Psychic      MewtwoMega Mewtwo X    780
268      Rock  TyranitarMega Tyranitar    700
413     Steel  MetagrossMega Metagross    700
422     Water      KyogrePrimal Kyogre    770

In [179]:
total.loc[total.Total.idxmax(), "Name"]

'RayquazaMega Rayquaza'

In [183]:
pokemon_df.loc[pokemon_df.groupby(["Generation"])["Attack"].idxmax(), ["Generation","Name","Attack" ]]

     Generation                     Name  Attack
163           1      MewtwoMega Mewtwo X     190
232           2  HeracrossMega Heracross     185
424           3    GroudonPrimal Groudon     180
494           4    GarchompMega Garchomp     170
711           5       KyuremBlack Kyurem     170
796           6      DiancieMega Diancie     160

In [187]:
pokemon_df.loc[pokemon_df.groupby(["Generation"])["Defense"].idxmax(), ["Generation","Name","Defense" ]]

     Generation                 Name  Defense
87            1  SlowbroMega Slowbro      180
224           2  SteelixMega Steelix      230
333           3    AggronMega Aggron      230
456           4            Bastiodon      168
624           5           Cofagrigus      145
789           6              Avalugg      184

In [191]:
pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [243]:
pokemon_df.loc[:, "Type 1"].unique()
p = pokemon_df["Type 1"].unique()
p.sort()
p

array(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water'], dtype=object)

In [246]:
pokemon_df.loc[pokemon_df["Type 1"] == "Fire", ["Name", "Attack"]]

                          Name  Attack
4                   Charmander      52
5                   Charmeleon      64
6                    Charizard      84
7    CharizardMega Charizard X     130
8    CharizardMega Charizard Y     104
42                      Vulpix      41
43                   Ninetales      76
63                   Growlithe      70
64                    Arcanine     110
83                      Ponyta      85
84                    Rapidash     100
135                     Magmar      95
147                    Flareon     130
158                    Moltres     100
169                  Cyndaquil      52
170                    Quilava      64
171                 Typhlosion      84
236                     Slugma      40
237                   Magcargo      50
259                      Magby      75
263                      Entei     115
270                      Ho-oh     130
276                    Torchic      60
277                  Combusken      85
278                   Blaziken     120
279      BlazikenMega Blaziken     160
352                      Numel      60
353                   Camerupt     100
354      CameruptMega Camerupt     120
355                    Torkoal      85
435                   Chimchar      58
436                   Monferno      78
437                  Infernape     104
518                  Magmortar      95
542                    Heatran      90
557                      Tepig      63
558                    Pignite      93
559                     Emboar     123
572                    Pansear      53
573                   Simisear      98
614                   Darumaka      90
615    DarmanitanStandard Mode     140
616         DarmanitanZen Mode      30
692                    Heatmor      97
721                   Fennekin      45
722                    Braixen      59
723                    Delphox      69
730                Fletchinder      73
731                 Talonflame      81
735                     Litleo      50
736                     Pyroar      68
799                  Volcanion     110

In [248]:
pokemon_df.groupby(["Type 1"])["Total"].mean()

Type 1
Bug         378.927536
Dark        445.741935
Dragon      550.531250
Electric    443.409091
Fairy       413.176471
Fighting    416.444444
Fire        458.076923
Flying      485.000000
Ghost       439.562500
Grass       421.142857
Ground      437.500000
Ice         433.458333
Normal      401.683673
Poison      399.142857
Psychic     475.947368
Rock        453.750000
Steel       487.703704
Water       430.455357
Name: Total, dtype: float64

In [250]:
pokemon_df.loc[(pokemon_df.Legendary == True)&(pokemon_df.Total > 600)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
423,383,Groudon,Ground,NaN,670,100,150,140,100,90,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
425,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
541,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
543,486,Regigigas,Normal,NaN,670,110,160,110,80,110,100,4,True
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True
706,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True

In [278]:
pokemon_df.insert(12, "Attack/Defense", value = pokemon_df.Attack / pokemon_df.Defense)

In [280]:
pokemon_df.drop(columns = ["Attack/Defense"], inplace = True)

In [282]:
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [286]:
pokemon_df.insert(len(pokemon_df.columns), "Attack/Defense", value = pokemon_df.Attack / pokemon_df.Defense)

In [290]:
pokemon_df.drop(columns = ["Attack/Defense"], inplace = True)

In [294]:
pokemon_df.insert(len(pokemon_df.columns), "Attack/Defense", value = round(pokemon_df.Attack / pokemon_df.Defense, 3))

In [296]:
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack/Defense
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.988
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.667
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.455
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.917

In [308]:
attack = pokemon_df.loc[pokemon_df.groupby(["Generation"])["Attack"].idxmax(), ["Generation", "Name", "Attack"]]

In [322]:
speed = pokemon_df.groupby(["Generation"])["Speed"].mean().round(2)

In [326]:
comb = pd.merge(attack, speed, on = "Generation")

In [328]:
comb

   Generation                     Name  Attack  Speed
0           1      MewtwoMega Mewtwo X     190  72.58
1           2  HeracrossMega Heracross     185  61.81
2           3    GroudonPrimal Groudon     180  66.92
3           4    GarchompMega Garchomp     170  71.34
4           5       KyuremBlack Kyurem     170  68.08
5           6      DiancieMega Diancie     160  66.44

In [332]:
comb.columns = ["Generation", "Strongest Pokemon", "Attack", "Gen avg speed"]
comb

   Generation        Strongest Pokemon  Attack  Gen avg speed
0           1      MewtwoMega Mewtwo X     190          72.58
1           2  HeracrossMega Heracross     185          61.81
2           3    GroudonPrimal Groudon     180          66.92
3           4    GarchompMega Garchomp     170          71.34
4           5       KyuremBlack Kyurem     170          68.08
5           6      DiancieMega Diancie     160          66.44