In [5]:
import pandas as pd

In [41]:
pokemon_df = pd.read_csv("./data/pokemon.csv")

In [43]:
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [85]:
pokemon_df.loc[(pokemon_df.Attack) > 50 & (pokemon_df.Defense < 80), ["Name", "Attack", "Defense"]]

                      Name  Attack  Defense
0                Bulbasaur      49       49
1                  Ivysaur      62       63
2                 Venusaur      82       83
3    VenusaurMega Venusaur     100      123
4               Charmander      52       43
..                     ...     ...      ...
795                Diancie     100      150
796    DiancieMega Diancie     160      110
797    HoopaHoopa Confined     110       60
798     HoopaHoopa Unbound     160       60
799              Volcanion     110      120

[800 rows x 3 columns]

In [87]:
pokemon_df.groupby(["Generation"]).mean()

AttributeError: 'DataFrame' object has no attribute 'group'